@charset "UTF8";

@media  screen and (min-width: 762px) and (max-width: 992px) { 
    body{
        background-image: linear-gradient(to bottom, #5f52f0, #6DA4E8);
    }

    #login {
        width: 80vw;
        height: 305px;
        
    }

    #login > #imagem {
        float: left;
        width: 30%;
        height: 100%;
    }

    #login > #formulario {
        float: right;
        width: 70%;
    }

    #formulario > p {
        margin: 20px 0px;
    } 
}

@media screen and (min-width: 992px) {
    body{
        background-image: linear-gradient(to bottom, #5f52f0, #6DA4E8);
    }

    #login {
        width: 950px;
        height: 340px;
    }

    #login > #imagem {
        float: right;
        width: 50%;
        height: 100%;
    }

    #login > #formulario {
        float: left;
        width: 50%;
        height: 100%;
    }

    #formulario > p {
        font-size: 1.4em;
        margin: 20px 0px;
    }   
}